@import "~bootstrap/dist/css/bootstrap.min.css";

/* styles/globals.css */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* styles/globals.css */
.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev img,
.slick-next img {
  width: 50px;
  height: 50px;
}






:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 255;
  --background-end-rgb: 0, , 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* styles/globals.css */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  margin-top: 20px;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #869791;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #717f7f;
  color: #fff;
  text-decoration: none;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.item {
  background: #4DC7A0;
  padding: 30px 0;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

.charts-container {
  display: flex;
  justify-content: space-between; /* Adjust spacing between the charts */
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Add a gap between the charts */
}

.charts-container > div {
  width: 45%; /* Each chart will take up 45% of the container's width */
}